<link rel="stylesheet" href="/css/style.css">
<head>
  <title>The Database</title>
</head>
<nav>
  <a href="/sign-in">Login</a> | 
  <a href="/create-user">Create account</a> | 
  <a href="/list-snippets">List all snippets</a> | 
</nav>

<%- include('../flash') -%>