<link rel="stylesheet" href="/css/style.css">
<head>
  <title>The Database</title>
</head>

<nav>
  <a href="/sign-out">Sign out</a> | 
  <a href="/list-snippets">List snippets</a> |
  <a href="/create-snippet">Add snippet</a> |
  <a href="/delete-snippet">Delete snippet</a> |
  <a href="/update-snippet">Update a snippet</a> |
</nav>

<%- include('../flash') -%>